# Ignore everything
*

administrator/components/*
administrator/language/en-GB/*
language/en-GB/*
components/*
plugins/editors/*
plugins/system/*

# config
!.gitignore
!.tx

# plugin
!plugins/editors/jce

# system
!plugins/system/jce

# site
!components/com_jce/
!language/en-GB/en-GB.com_jce*

language/en-GB/en-GB.com_jce_popups*

# admin
!administrator/components/com_jce/
!administrator/language/en-GB/
!administrator/language/en-GB/en-GB.com_jce*
!administrator/language/en-GB/en-GB.plg_quickicon_jce*
!administrator/language/en-GB/en-GB.plg_editors_jce*
!administrator/language/en-GB/en-GB.plg_system_jce*

.DS_Store
.project
.buildpath
.settings
.idea

build.xml
plugin_build.xml

Gruntfile.js
package.json

header.tinymce.txt
header.codemirror.txt
header.css.txt
header.js.txt

components/com_jce/editor/tiny_mce/plugins/caption/
components/com_jce/editor/tiny_mce/plugins/emotions/
components/com_jce/editor/tiny_mce/plugins/filemanager/
components/com_jce/editor/tiny_mce/plugins/fullpage/
components/com_jce/editor/tiny_mce/plugins/iframe/
components/com_jce/editor/tiny_mce/plugins/imgmanager_ext/
components/com_jce/editor/tiny_mce/plugins/jbtype
components/com_jce/editor/tiny_mce/plugins/jbtype/*
components/com_jce/editor/tiny_mce/plugins/mediamanager/
components/com_jce/editor/tiny_mce/plugins/microdata/
components/com_jce/editor/tiny_mce/plugins/templatemanager/

components/com_jce/editor/extensions/imageeditor
components/com_jce/editor/extensions/imageeditor/*

components/com_jce/editor/extensions/filesystem/s3
components/com_jce/editor/extensions/filesystem/s3.php
components/com_jce/editor/extensions/filesystem/s3.xml
components/com_jce/editor/extensions/filesystem/build.xml

components/com_jce/editor/extensions/popups/build.xml
components/com_jce/editor/extensions/popups/rokbox
components/com_jce/editor/extensions/popups/rokbox.php
components/com_jce/editor/extensions/popups/rokbox.xml
components/com_jce/editor/extensions/popups/widgetkit
components/com_jce/editor/extensions/popups/widgetkit.php
components/com_jce/editor/extensions/popups/widgetkit.xml
components/com_jce/editor/extensions/popups/widgetkit2
components/com_jce/editor/extensions/popups/widgetkit2.php
components/com_jce/editor/extensions/popups/widgetkit2.xml
components/com_jce/editor/extensions/popups/rokbox_build.xml
components/com_jce/editor/extensions/popups/widgetkit1_build.xml
components/com_jce/editor/extensions/popups/widgetkit2_build.xml

nbproject
components/com_jce/nbproject/
components/com_jce/nbproject/private/
components/com_jce/nbproject/private/private.xml
